################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SuperFastArgumentCheck/bin/Debug
/SuperFastArgumentCheck/obj/Debug
/SuperFastArgumentCheck/obj/Debug
/SuperFastArgumentCheck/obj/Release
/SuperFastArgumentCheck/bin/Release
